# Convert to LF
* text eol=lf

# Binary
*.wav binary
*.mp3 binary
*.png binary
*.jpg binary

# Don't export git files in the archive
.gitattributes export-ignore
.gitignore export-ignore
README.md export-ignore
